---
name: CI

on:
  push:
    branches-ignore:
      - main
    tags-ignore:
      - v.*
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: fish-actions/install-fish@v1
      - run: make test -C "$GITHUB_WORKSPACE"

  syntax-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: fish-actions/install-fish@v1
      - uses: fish-actions/syntax-check@v1

  format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: fish-actions/install-fish@v1
      - uses: fish-actions/format-check@v1

  mega-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: oxsecurity/megalinter/flavors/documentation@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
