---
name: lock-threads

on:
  schedule:
    - cron: "0 0 * * 0" # At 00:00 on Sunday

permissions:
  issues: write
  pull-requests: write

jobs:
  lock-threads:
    runs-on: ubuntu-latest
    steps:
      - uses: dessant/lock-threads@v4
